
  
<p>Añadir un comentario </p>
<p>
    <form method="post" action="/quizes/<%=quizid%>/comments/">
	   <input type="text" id="comment" name="comment[texto]" value="" />
<!--	   <input type="hidden" id="votospos" name="comment[votospos]" value="0" />
	   <input type="hidden" id="votosneg" name="comment[votosneg]" value="0" />
	   <input type="hidden" id="fecalta" name="comment[fecalta]" value="2015-08-07 17:36" />
	   <input type="hidden" id="nick" name="comment[nick]" value="F.J.L.A." />
	   -->
	  <button type="submit">Opinar</button>
	  </form>
	  </p>
