
    
       <h1>Quienes construímos <%= subtitle %></h1>

    <p><%= subtitle %>,  aspira a ser una gran comunidad de preguntadores</p>
	<p>Para empezar <%= autores %>.</p>
	<p>A quien vemos en esta foto en su salsa<br/> <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSNamh_T-fH2RE6sL-2bK1gxlSnx5UJJlG36fyKdJT9NQNOKNCs" width="250" /><br/> en una acequia medieval, hoy en día sin uso. </p>
