

    <p>Bienvenido a <%= title %></p>
	<p>El más costoso sistema para hacer preguntas de la nueva web (eso sí, muy rápido).</p>
	
	<p>Su primera pregunta... <a href="/quizes/question">Comenzamos</a></p>

