<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
  
  
  <div id="page-wrap">
  <header class="main" id="h1">
    
      <span class="right">Aquí irán enlaces ligados a la sesión</span>
    
    <h1><%= title %></h1>
  </header>

  <nav class="main" id="n1" role="navigation">
    <span><a href="/author">Créditos</a></span>
	</nav>

  <section class="main" id="s1">
  
  

    <p>Bienvenido a <%= title %></p>
	<p>El más costoso sistema para hacer preguntas de la nueva web (eso sí, muy rápido).</p>
	
	<p>Su primera pregunta... <a href="/quizes/question">Comenzamos</a></p>
  </section>

  <footer class="main" id="f1">
    <a href="#">
      La raíz de mi proyecto GitHub</a>
  </footer>		
	
	
  </body>
</html>

