<!DOCTYPE html>
<html>
  <head>
    <title>Quiz a mano</title>
	<meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet'
		  type='text/css'
		  media='only screen and (min-width: 530px) and (min-device-width: 481px)'
		  href='/stylesheets/styleWide.css' />
	<link rel='stylesheet'
		  type='text/css'
		  media='only screen and (max-width: 480px)'
		  href='/stylesheets/styleSmartphone.css' />
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
  
  
  <div id="page-wrap">
  <header class="main" id="h1">
    
      <span class="right" style="color:#777"> · APUNTES sesión (módulo 9, diapo 22)</span><br/>
	  <%if (!session.user){ %>
		<span class="right"><a href="/login">Login</a></span>
	  <% } else { %>
	    <span class="right"><%=session.user.username %> || <a href="/logout">Logout</a></span>
		<br/>
		Última actividad: <%= session.ultimoHHMM %>
		<!--'Ha estado más de dos minutos sin actividad. Sesión finalizada.'-->
	  <% }  %>
    
    <h1>Quiz a mano</h1>
  </header>

  <nav class="main" id="n1" role="navigation">
  <img src="/images/Questions-Awnser.jpg" width="80px"/>
    <span><a href="https://fjla-quiz-2015.herokuapp.com/">Inicio</a></span> |
    <span><a href="/quizes">Preguntas</a></span> |
    <span><a href="/author">Créditos</a></span>
	</nav>

  <section class="main" id="s1">
  
  
<%- body %>

  </section>

  <footer class="main" id="f1" style="background-color:#EEE;">
    <a href="https://github.com/fjla-curso/fjlozano-quiz-2015">
      Comparto mi proyecto nodejs en GitHub</a>
	   || <span><a href="http://es.wikipedia.org/wiki/Quiz">¿Qué es eso de un Quiz?</a></span>
  </footer>		
	
	
  </body>
</html>

