<!DOCTYPE html>
<html>
  <head>
    <title>Quiz a mano</title>
	<meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet'
		  type='text/css'
		  media='only screen and (min-width: 530px) and (min-device-width: 481 px)'
		  href='/stylesheets/styleWide.css' />
	<link rel='stylesheet'
		  type='text/css'
		  media='only screen and (max-width: 480px)'
		  href='/stylesheets/styleSmartphone.css' />
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
  
  
  <div id="page-wrap">
  <header class="main" id="h1">
    
      <span class="right">Aquí irán enlaces ligados a la sesión</span>
    
    <h1>Quiz a mano</h1>
  </header>

  <nav class="main" id="n1" role="navigation">
  <img src="/images/Questions-Awnser.jpg" width="100px"/>
    <span><a href="/">Inicio</a></span> ||
    <span><a href="/quizes/question">Preguntas</a></span> ||
    <span><a href="/author">Créditos</a></span>
	</nav>

  <section class="main" id="s1">
  
  
<%- body %>

  </section>

  <footer class="main" id="f1" style="background-color:#EEE;">
    <a href="https://fjla-quiz-2015.herokuapp.com/">
      La raíz de mi proyecto GitHub</a>
	   || <span><a href="http://es.wikipedia.org/iki/Quiz">¿Qué es eso de un Quiz?</a></span>
  </footer>		
	
	
  </body>
</html>

