body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
header, nav, section {background:#eee; text-align: center; color:#00F};
a {
  color: #00B7FF;
}
.right {float: right;}