
  
<p>Marchando una pregunta de  <b><%= eltema %></b>, de <b>dificultad <%= ladificultad %>/3</b>. </p>
    <form method="get" action="/quizes/answer">
	  Pregunta: <%= pregunta %> </p>
	  <input type="text" name="respuesta" value"Escriba aquí"/>
	  <input type="submit" value="Enviar">
	  </form>
	  <p>&nbsp;</p>

