<h2>Login</h2>
<form method="POST" action='/login'>
 <input type="text" id="login" name="login" size="30" />
 <input type="password" id="password" name="password" size="30" />
 <input name="commit" type="submit" value="Login" />
</form>